@media screen and (max-width: 1280px)
{
	.page-container	{
		width: 100%;
	}
}

@media screen and (max-width: 960px)
{
	#top-bar
	{
		padding: 0 16px 16px;
	}

	#top-bar #searchform
	{
		float: none;
		text-align: center;
	}

	#site-header .site-banner
	{
		margin: 16px 0;
		text-align: center;
	}

	#site-header .site-banner img.custom-logo
	{
		display: none;
	}

	#site-header .site-banner-title
	{
		font-size: 2em;
	}

	#site-header .site-banner-subtitle
	{
		font-size: 1em;
	}

	#page-content
	{
		padding: 16px 16px 0;
	}

	#page-content > .container
	{
		display: block;
	}

	#page-content .post-tiles
	{
		text-align: center;
	}

	#page-content .latest-post
	{
		float: none;
		width: 272px;
		height: 204px;
		font-size: 0.8125em;
	}

	#site-footer
	{
		padding: 0 16px 16px;
	}

	.content-container,
	.widget-container
	{
		width: 100%;
		min-width: auto;
	}

	.post-feature .wp-post-image
	{
		float: none;
		width: auto;
		margin: 0;
	}
}
